@font-face {
  font-family: 'WorstveldSlingExtra';
  font-style: normal;
  font-weight: 400;
  src: local('WorstveldSlingExtra'), url('/vinyl/fonts/WorstveldSlingExtra.woff') format('woff');
}
@font-face {
  font-family: 'Signerica';
  font-style: normal;
  font-weight: 400;
  src: local('Signerica'), url('/vinyl/fonts/Signerica_Fat.woff') format('woff');
}
@font-face {
  font-family: 'Vtks Vacancy';
  font-style: normal;
  font-weight: 400;
  src: local('Vtks Vacancy'), url('/vinyl/fonts/Vtks Vacancy.woff') format('woff');
}
body {
  margin-top: 1rem;
  background: url("/vinyl/images/vinyl.jpg") top left / cover no-repeat fixed black;
  color: Aliceblue;
}
h2 {
  padding-top : 1rem;
  padding-bottom : 1rem;
  border-top : 1px solid white;
}
h3 {
  margin-bottom : 1rem;
}
i.fa {
  font-size: 14px;
}
#chansonettes p > span {
  font-family : 'WorstveldSlingExtra';
  font-size: 24px;
}
#chansonettes #rimbaud p > span {
  font-family : Signerica;
  font-size: 14px;
}
#chansonettes #apollinaire p > span {
  font-family : 'Vtks Vacancy';
  font-size: 20px;
}
#chansonettes #verlaine p > span {
  font-family : 'WorstveldSlingExtra';
  font-size: 24px;
}
section.item {
  margin: 1em;
}
a {
  color: Aliceblue;
}
a:link {
  color: Aliceblue;
}
a:visited {
  color: Aliceblue;
}
a:hover {
  color: Aliceblue;
}
a:active {
  color: Aliceblue;
}
pre {
  color: Ghostwhite;
}
ul {
    list-style-type: none;
    padding: 0;
}
section#chansonettes > div {
  background-color: rgba(64, 32, 0, .2);
}
section#sonates > div {
  background-color: rgba(64, 32, 0, .2);
}

section.item p:hover, 
h3:hover,
h4:hover {
  color: Gainsboro;
  background-color: rgba(256, 32, 0, .1);
  cursor: pointer;
}
