[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/aequologica/reveal.js.git
[submodule "sangiovannilipioni.api"]
	path = sangiovannilipioni.api
	url = https://github.com/sangiovannilipioni/sangiovannilipioni.api.git
