html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #000000;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(circle, #ed5405, #4a1b02);
  background: -moz-radial-gradient(circle, #ed5405, #4a1b02);
  background: -ms-radial-gradient(circle, #ed5405, #4a1b02);
  background: -o-radial-gradient(circle, #ed5405, #4a1b02);
  background: radial-gradient(circle, #ed5405, #4a1b02);
  background-attachment: fixed;
}

body {
  background: transparent;
}

#gridContainer {
  background-color: transparent;
  visibility: hidden;
}
/*
  .grid-brick:not(.transparent) {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 1rem;
  }
  .grid-brick:not(.transparent):hover {
    background: rgba(0, 0, 0, 0.15);
  }
*/

.grid-brick.transparent a {
  cursor: default;
}

.grid-brick:not(.transparent) a img {
  margin: 1rem;
  border: none;
  cursor: pointer;
}

/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.grid-brick:not(.transparent) a img:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
