<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="google"               content="notranslate">
    <meta name="description"          content="">
    <meta name="author"               content="Christophe Thiebaud">
    
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- https://www.google.com/webmasters/verification  -->
    <meta name="google-site-verification" content="3Ax-sR4eluHbv26FhpofSkJMMuC6NeKDrSjKE6HX6c4" />
    
    <!-- Open Graph data -->
    <meta property="og:locale"      content="en_US">
    <meta property="og:title"       content="aequologica" />
    <meta property="og:type"        content="website" />
    <meta property="og:url"         content="http://aequologica.net" />
    <meta property="og:description" content="Un moyen pas forcément simple, mais instructif, pour avoir toujours sous le coude mes liens favoris. Vraiment, ça m'a appris plein de trucs." />
    <meta property="og:site_name"   content="aequologica" />
  
    <meta property="og:image"        content="http://aequologica.net/images/beh-semi-trans-200x200.png" />
    <meta property="og:image:url"    content="http://aequologica.net/images/beh-semi-trans-200x200.png" />
    <meta property="og:image:type"   content="image/png" />
    <meta property="og:image:width"  content="158" />
    <meta property="og:image:height" content="167" />
    
    <meta property="fb:admins" content="708154592"/>
    <meta property="fb:app_id" content="104250825478" />
  
    <title>aequologica</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
<body ng-app="aequologicaApp" ng-controller="IndexCtrl" >


  <input type="checkbox" id="horribleHack" name="horribleHack" ng-model="outOfOffice" style="display:none!important;" />

  <div  masonry
        id="masonry"
        ng-click="shuffle()">
    <div class="masonry-brick"
         ng-repeat="brick in bricks">
      <a  ng-show="!outOfOffice || (brick.url.indexOf('sap.corp')==-1 && brick.url.indexOf('localhost')==-1)"
          ng-href="{{brick.url}}"
          target="{{brick.name}}"
          ng-click="$event.stopPropagation();"
          ng-class="{'internal': (brick.url.indexOf('sap.corp')!=-1)}">
        <img ng-src = "{{brick.src}}" fallback-src="images/{{brick.onError}}" width="{{brick.width}}" height="{{brick.height}}">
      </a>
      <ul ng-show="brick.items" class="text-wrap">
        <li ng-repeat="item in brick.items">
          <a target="{{item.name}}"
             ng-show="!outOfOffice || (brick.url.indexOf('sap.corp')==-1 && brick.url.indexOf('localhost')==-1)"
             ng-href="{{item.url}}"
             ng-click="$event.stopPropagation();"
             ng-class="{'internal': (item.url.indexOf('sap.corp')!=-1)}">
            {{item.text}}
          </a>
          <hr ng-show="item.type"/>
        </li>
      </ul>
    </div>
  </div>

</html>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"                        ></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"                            ></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"                     ></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.3/imagesloaded.pkgd.min.js"    ></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"                       ></script>

<script type="text/javascript" src="assets/js/angular.dcb-img-fallback.min.js"></script>
<script type="text/javascript" src="assets/js/angular-masonry.min.js" ></script>

<script type="text/javascript" >
'use strict';

// http://stackoverflow.com/questions/20789373/shuffle-array-in-ng-repeat-angular
// -> Fisher–Yates shuffle algorithm
var shuffleArray = function(array) {
  var m = array.length, t, i;

  // While there remain elements to shuffle
  while (m) {
    // Pick a remaining element…
    i = Math.floor(Math.random() * m--);

    // And swap it with the current element.
    t = array[m];
    array[m] = array[i];
    array[i] = t;
  }

  return array;
}

angular.module( 'aequologicaApp', ['wu.masonry', 'dcbImgFallback'])
  .config(['$httpProvider', function($httpProvider) {
    // http://stackoverflow.com/questions/16098430/angular-ie-caching-issue-for-http
    // initialize get if not there
    if (!$httpProvider.defaults.headers.get) {
        $httpProvider.defaults.headers.get = {};
    }
    // disable IE ajax request caching
    $httpProvider.defaults.headers.get['If-Modified-Since'] = '0';
  }])
  .controller( 'IndexCtrl', function ($scope, $document, $http) {
      $scope.outOfOffice = true;
      $scope.bricks      = [];
      $scope.shuffle     = function () {
        _.each($scope.bricks, function(brick) {
          if (brick.src0) {
            brick.src = brick.src0 + "&" +(new Date().getTime());
          }
        });
        return $scope.bricks = shuffleArray($scope.bricks);
      }

      function successCallback(response) {
        _.each(response.data.images, function(image){
          if (image.src.startsWith("http")) {
            image.src0 = image.src;
            image.src = image.src0 + "&" +(new Date().getTime());
          } else {
            image.src = "images/"+image.src;
          }
          $scope.bricks.push(image);
        });

        _.each(response.data.groups, function(group){
          $scope.bricks.push(group);
        });

        $scope.bricks = $scope.shuffle();
      }

      $http.get('index.json', { cache: false})
        .then(  successCallback, 
                function(response) {
                  console.log(response);
                }
      );

      var image = new Image();
      image.src = 'https://avatars.wdf.sap.corp/media/BAhbCVsHOgZmSSIdNTMyNmU5NjdkZjE1ZGI2ODVhMDE0YzJiBjoGRVRbCToGcDoMY29udmVydEkiAAY7BkYwWwg7BzoKdGh1bWJJIgg5NHgGOwZUWwc6BmU6CGpwZw.jpg';
      setTimeout( function() {
        var outOfOffice = $scope.outOfOffice;
          if ( !image.complete || !image.naturalWidth ) {
            $scope.outOfOffice = true;
          } else {
            $scope.outOfOffice = false;
          }
          if (outOfOffice != $scope.outOfOffice) {
            var horribleHack = angular.element('#horribleHack');
            horribleHack.val($scope.outOfOffice);
            horribleHack.trigger('input');
            $scope.bricks = $scope.shuffle();
            // http://stackoverflow.com/questions/23710217/how-do-you-trigger-a-reload-in-angular-masonry
            $scope.$broadcast('masonry.reload');
          }
      }, 2000 );
});

// http://4loc.wordpress.com/2009/04/28/documentready-vs-windowload/
$(window).load(function() {
  $('.masonry-brick').show();
});

</script>

<!-- https://browser-update.org/#install  
<script> 
var $buoop = {c:2}; 
function $buo_f(){ 
 var e = document.createElement("script"); 
 e.src = "//browser-update.org/update.js"; 
 document.body.appendChild(e);
};
try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
catch(e){window.attachEvent("onload", $buo_f)}
</script> 
-->

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62202103-1', 'auto');
  ga('send', 'pageview');

</script>

<!--  facebook sdk 
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '104250825478',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
-->
