html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #000000;
  background-repeat:no-repeat;
  background: -webkit-radial-gradient( circle, #1a82f7, #2F2727);
  background: -moz-radial-gradient( circle, #1a82f7, #2F2727);
  background: -ms-radial-gradient( circle, #1a82f7, #2F2727);
  background: -o-radial-gradient( circle, #1a82f7, #2F2727);
  background: radial-gradient( circle, #1a82f7, #2F2727);
  background-attachment: fixed;
}

body {
  background : transparent;
}

#grid {
  background-color: transparent;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;  
}

.grid-brick {
  background: rgba(0,0,0,.075);
  border-radius: 1rem;
}
.grid-brick:hover {
  background: rgba(0,0,0,.150);
}

.grid-brick a img {
  margin: 1rem;
  border: none;
  cursor: pointer;
}

/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.grid-brick a img:hover {
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}