@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url('assets/fonts/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

body {
  font-family : Inconsolata;
  background  : #F0AB00; // #FFF; // ;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0px 0px -8px;
}

div {
  font-size  : 12pt;
  overflow   : hidden; /* cf. http://www.quirksmode.org/css/textoverflow.html */
  white-space: nowrap;
}

hr {
    opacity: 0.333;
}

ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

li {
  white-space: nowrap;
}

a img {
  margin: 10px;
}

li a:link    {color:#efefef; text-decoration: none;}
li a:visited {color:#efefef; text-decoration: none;}
li a:hover   {color:#101010; text-decoration: none; background  : #F0AB00;}
li a:active  {color:#efefef; text-decoration: none;}

img {
  border: none; 
}

hr {
  margin : 0;
  padding: 0;
}


.image-wrap {
  position   : relative; 
  float      : left; 
  display    : inline-block; 
  // visibility : hidden; 
  margin     : 0;
}

.text-wrap {
  margin  : 20px;
  padding : 5px;
  border  : 1px solid white;
  border-radius:5px;
  background-color: #101010;
  color: white;
  box-shadow: 8px 8px 5px #888888;
}


#masonry {
  cursor: crosshair;
}

.masonry-brick {
  // border    : 1px solid #efefef;
  // background: rgba(0,0,0,.03);
}

.masonry-brick:hover {
  background: rgba(0,0,0,.1);
}

.internal {
  opacity: .33333;
}

hr {
  opacity: .8;
}