@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url('assets/fonts/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

body {
  font-family : Inconsolata;
  background  : transparent;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0px 0px -8px;
}

div {
  font-size  : 10pt;
  overflow   : hidden; /* cf. http://www.quirksmode.org/css/textoverflow.html */
  white-space: nowrap;
}

hr {
  opacity: .8;
  margin : 0;
  padding: 0;
}

ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

li {
  white-space: nowrap;
}

a img {
  margin: 10px;
  border: none;
}

li a:link    {color:#efefef; text-decoration: none;}
li a:visited {color:#efefef; text-decoration: none;}
li a:hover   {color:#101010; text-decoration: none; background  : #F0AB00;}
li a:active  {color:#efefef; text-decoration: none;}

.image-wrap {
  position   : relative;
  float      : left;
  display    : inline-block;
  margin     : 0;
}

.text-wrap {
  margin  : 20px;
  padding : 5px;
  border  : 1px solid white;
  border-radius:5px;
  background-color: #101010;
  color: white;
  box-shadow: 8px 8px 5px #888888;
}

.masonry-brick {
  // border    : 1px solid #efefef;
  // background: rgba(0,0,0,.03);
}

.masonry-brick:hover {
  background: rgba(0,0,0,.1);
}

.internal {
  // opacity: .75;
}

html {
  height: 100%;
  padding: 3em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #000000;
  background-repeat:no-repeat;
  background: -webkit-radial-gradient( circle, #1a82f7, #2F2727);
  background: -moz-radial-gradient( circle, #1a82f7, #2F2727);
  background: -ms-radial-gradient( circle, #1a82f7, #2F2727);
  background: -o-radial-gradient( circle, #1a82f7, #2F2727);
  background: radial-gradient( circle, #1a82f7, #2F2727);
  background-attachment: fixed;

}

div#masonry {
  background-color: transparent;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;  
  cursor: crosshair;
}
