body {
    font: 12pt sans-serif;
}

#legend .parent {
    transform: scaleX(-1);
}

#legend .sleeve {
    transform: scaleX(-1);
}

#legend .table-responsive {
    max-height: 240px ;
}

#legend button {
    padding: 0 .3rem;
}

#legend .remove button {
    padding: 0;
    border: none;
}

#legend td.country, #legend td.population {
    padding-right: .3rem;
}

#legend th.population, #legend td.population {
    font-family: monospace;
    font-size: smaller;
    text-align: right;
    padding-left: .5rem;
}

#legend table.table-responsive {
    max-height: 300px;
}

#legend .card {
    display: inline-block ;
}

#chart {
    width: 100%;
    height: 94%;
    position: absolute;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: #bbccdd;
}

tr, .card-body {
    background-color: white;
}

#my-bottom label {
    height: 1.4rem;
    line-height: 1.4rem;
}

#my-bottom .card:first-child {
    margin-left: 0.2rem;
}

#my-bottom {
    padding: 0.1rem 0.2rem ;
}

#my-bottom .card {
    margin: 0 0.2rem ;
}

#legend .card-body, 
#my-bottom .card-body {
    padding: 0.1rem 0.2rem ;
    padding-top: 0.1rem ;
    padding-right: 0.2rem ;
    padding-bottom: 0.1rem ;
    padding-left: 0.2rem ;
    font-size: 12px;
}
#legend .card-body {
    font-size: 14px;
}

.navbar-toggler {
    padding: 2px !important;
}

.zero-margin-right {
    margin-right: 0 ;
}

.my-custom-control-label {
    position: relative;
    margin-bottom: 0;
}

.modal-body {
    height: 80vh;
    overflow-y: auto;
}

.mytooltip {
    position: absolute;
    background-color: ghostwhite;
    font-size: 10px;
    padding: .2rem;
}

.mytooltip tr td:first-child {
    text-align: right;
    font-family: monospace;
}

.mytooltip tr td:last-child {
    font-family: monospace;
}

.mytooltip caption {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.point {
    stroke: none;
    fill: #e6e6e6;
    opacity: 0.5 ;
}

.point:hover {
    fill: #b3b3b3;
}
