body {
  font-family: Geppaequo;
  padding-top: 60px;
  padding-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Geppaequo, Inconsolata, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer {
  border-top: solid #D3D3D3 thin;
  opacity:0.6;
}

td.details {
  background-color: #EFEFEF;
  border: 2px solid #CFCFCF;
}

table.dataTable thead th.sorting_disabled {
  cursor: inherit;
}

table.dataTable tr:hover td {
    color:              blue;
}

table.dataTable tr.row_selected {
}

table.dataTable tr.even, table.dataTable tr.even td {
    background-color:  white;
}

table.dataTable tr.odd, table.dataTable tr.odd td {
    background-color:  #f7f7f7;
}

table.dataTable tr.even.row_selected,
table.dataTable tr.odd.row_selected,
table.dataTable tr.even.row_selected td,
table.dataTable tr.odd.row_selected td {
    background-color:  #c0c0c0;
}

table.dataTable tr.odd td.sorting_1 { background-color: inherit; }
table.dataTable tr.odd td.sorting_2 { background-color: inherit; }
table.dataTable tr.odd td.sorting_3 { background-color: inherit; }
table.dataTable tr.even td.sorting_1 { background-color: inherit; }
table.dataTable tr.even td.sorting_2 { background-color: inherit; }
table.dataTable tr.even td.sorting_3 { background-color: inherit; }

.table-striped > tbody > tr.alert-info:nth-child(odd) {
 background-color: #d9edf7;
}
.table-striped > tbody > tr.alert-warning:nth-child(odd) {
 background-color: #fcf8e3;
}
.table-striped > tbody > tr.alert-danger:nth-child(odd) {
 background-color: #f2dede;
}
.table-striped > tbody > tr.alert-success:nth-child(odd) {
 background-color: #dff0d8;
}

#loading {
  margin: 1em;
}

#github_ribbon, #loading {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding-top: 50px;
}

ul > li > a > b.fa {
  margin-right: 5px;
}

.navbar-default .navbar-brand.active {
  color: #ffffff;
}

/* http://smarchal.com/twbscolor/?bd=b50071&bh=cf0081&cd=d8d8d8&ch=ffffff */
.navbar-default {
    background-color: #b50071;
    border-color: #cf0081;
}
.navbar-default .navbar-brand {
    color: #d8d8d8;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #d8d8d8;
}
.navbar-default .navbar-nav > li > a {
    color: #d8d8d8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #cf0081;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #cf0081;
}
.navbar-default .navbar-toggle {
    border-color: #cf0081;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #cf0081;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d8d8d8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #d8d8d8;
}
.navbar-default .navbar-link {
    color: #d8d8d8;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #d8d8d8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #cf0081;
    }
}

.navbar-brand {
  padding: 9px 15px;
}

.navbar-brand i.fa {
  margin: 6px 0;
}

.navbar-brand.active {
  color:white;
}
